<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="UpdateUrl" value="https://github.com/CalebChalmers/KAGTools" />
    <add key="ApiPlayerUrlTemplate" value="https://api.kag2d.com/v1/player/{0}" />
    <add key="ApiPlayerAvatarUrlTemplate" value="https://api.kag2d.com/v1/player/{0}/avatar" />
    <add key="ApiServerListUrlTemplate" value="https://api.kag2d.com/v1/game/thd/kag/servers?filters={0}" />
    <add key="ApiServerUrlTemplate" value="https://api.kag2d.com/v1/game/thd/kag/server/{0}/{1}/status" />
    <add key="ApiServerMinimapUrlTemplate" value="https://api.kag2d.com/v1/game/thd/kag/server/{0}/{1}/minimap" />
  </appSettings>
</configuration>