<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KAGTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <KAGTools.Properties.Settings>
            <setting name="KagDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualWindowWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ManualWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ManualWindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ManualWindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
        </KAGTools.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
